<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ir.taravatgroup.ezafekari2"
	android:versionCode="32"
	android:versionName="6"
	android:installLocation="preferExternal">
	
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="34"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<queries>
	    <package android:name="com.farsitel.bazaar" />
	 </queries>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission-group.STORAGE"/>
	<uses-permission android:name="android.permission.PERMISSION_READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.PERMISSION_WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.USE_FINGERPRINT"/>
	<application
		android:icon="@drawable/icon"
		android:label="اضافه کاری من"
		android:theme="@style/LightTheme"
		android:networkSecurityConfig="@xml/network_security_config">
		
		<provider
		  android:name="androidx.core.content.FileProvider"
		  android:authorities="ir.taravatgroup.ezafekari2.provider"
		  android:exported="false"
		  android:grantUriPermissions="true">
		  <meta-data
		  android:name="android.support.FILE_PROVIDER_PATHS"
		  android:resource="@xml/provider_paths"/>
		  </provider>
		<meta-data
		            android:name="com.google.android.play.billingclient.version"
		            android:value="5.0.0" />
		
		        <activity
		            android:name="com.android.billingclient.api.ProxyBillingActivity"
		            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
		            android:exported="false"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<uses-library
		      android:name="org.apache.http.legacy"
		      android:required="false" />
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".fast_run_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".hogog_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".ayabzahab_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".bime_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".calc_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".comment_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".darsad_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".eidi_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".food_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".ganon_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".gestha_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".help_kharid_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".info_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".morakhasi_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mosaedeh_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".padash_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".payankar_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sabt2_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".savabeg_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sayer_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".setting_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".setting_hogog_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".shift_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".show_gozaresh_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".step0_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".step1_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".step2_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".vam_activity"
			android:label="اضافه کاری من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<receiver
			android:name=".httputils2service"
			android:exported="true">
		</receiver>
	</application>
</manifest>